<a href="https://colab.research.google.com/github/megantoops/demo/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [3]:
def sum_all(*args):
  return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [4]:
def first_word(word_list):
  word_list.sort()
  return word_list[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print("First word alphabetically is:", first_word(students))

First word alphabetically is: Bartholomew

In [5]:
class Employee:
  employee_count = 0
  all_salaries = []

  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.employee_count += 1
    Employee.all_salaries.append(salary)

  def average_salary(self):
    return sum(Employee.all_salaries) / len(Employee.all_salaries)

class FulltimeEmployee(Employee):
  def __init__(self, name, family, salary, department):
    super().__init__(name, family, salary, department)

emp1 = Employee("Breyden", "Beaumont", 50000, "HR")
emp2 = FulltimeEmployee("Carter", "Rice", 70000, "Engineering")
emp3 = FulltimeEmployee("Cade", "Duggins", 65000, "Marketing")

print("Total number of employees:", Employee.employee_count)
print("Average salary of employees:", emp1.average_salary())

Total number of employees: 3
Average salary of employees: 61666.666666666664